<h1><%= @collection.name %></h1>
<% @collection.topics.each do |topic| %>
  <%= topic.name %>
<% end %>

 <% if user_signed_in? %>
  <%= link_to 'Edit Collection', edit_collection_path(@collection.id) %>
  </br>
  <%= button_to 'Delete Collection', collection_path(@collection), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
