<section>
  <h1>Topics</h1>

  <p>Feel free to use any of our topics in your own Toastmasters meeting.</p>

  <table>
    <tr>
      <th>Topic</th>
    </tr>
    <% @topics.each do |topic| %>
    <tr>
      <td> <%= link_to topic.name, topic_path(topic.id) %> </td>
    </tr>
    <% end %>
  </table>

  <%= link_to 'New Topic', new_topic_path %>

</section>
