<section>
  <h1>Topic:</h1>

  <h2> <%= @topic.name %></h2>

  <% if user_signed_in? %>
    <%= button_to 'Delete Topic', topic_path(@topic), method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to 'Edit Topic', edit_topic_path(@topic.id) %>
  <% end %>

  <%= link_to 'Back to topics page', topics_path %>

</section>
